* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f8f8f8;
}



.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#header1{
    background-color: #f0f0f0;
}
#header2{
    background-color: #D4D4D4;
}

.headers nav ul {
    list-style: none;
    display: flex;
}

#header1 nav ul li {
    margin-right: 30px;
}
#header2 nav ul li{
    margin-right: 100px;
}
#header2 nav ul li .p{
    margin-left: 50px;
}

.headers nav ul li a {
    text-decoration: none;
    color: #3C486B;
    font-weight: bold;
    transition: color o.3s ease;
}
.headers nav ul li{
    text-decoration: none;
    color: #3C486B;
    font-weight: bold;
}
.headers nav ul li ul.dropdown li{
    display:block;
    background: #9592bb;
    color:black;
    padding: 10px;
    margin:2px 2px;
}
.headers nav ul li ul.dropdown{
    width: auto;
    background: #e6e8ee;
    position: absolute;
    z-index: 999;
    display: none;
}

.headers nav ul li a:hover {
    color: #fff;
}
.headers nav ul  li:hover{
    color: #fff;
}
.headers nav ul li:hover ul.dropdown{
    display: block;
}

#header1 .logo img {
    display: inline-block;
    height: 50px;
    margin-left: 10px;
}
.headers nav ul li ul.dropdowns li{
    display:block;
    background: #9592bb;
    color:black;
    padding: 10px;
    margin:2px 2px;
}
.headers nav ul li ul.dropdowns{
    width: auto;
    background: #e6e8ee;
    position: absolute;
    z-index: 999;
    display: none;
}
.headers nav ul li:hover ul.dropdowns{
    display: block;
}



.category {
    width: 100%;
    height: 140vh;
    padding: 70px 0;
}

.category h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
    color: #089da1;
}

.category .category_box {
    width: 95%;

    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
}

.category .category_box .category_card {
    width: 250px;
    height: 390px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}

.category .category_box .category_card:hover {
    box-shadow: 0 0 5px #089da1;
}

.category .category_box .category_card .category_img {
    width: 150px;
    height: 220px;
    
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.category .category_box .category_card .category_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.category .category_box .category_card:hover .category_img img {
    transform: scale(1.1);
}

.category .category_box .category_card .category_tag .name {
    margin-top: 10px;
    color: #000;
    font-weight: bold;
    height: 25px;
    font-size: small;
}
.category .category_box .category_card .category_tag .writer{
    color: #919191;
    height: 10px;
    
}
.category .category_box .category_card .category_tag .book_price {

    font-weight: bold;
    margin-bottom: 15px;
    color: #089da1;
}

.category .category_box .category_card .category_tag .book_price sub {
    font-weight: 100;
    padding: 0 5px;
    color: #919191;
}

.category .category_box .category_card .category_tag .n_btn {
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
   
}

.category .category_box .category_card .category_tag .n_btn:hover{
    background-color: #089da1;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background: #089da1;
    border-radius: 10px;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style-type: none;
}

.footer {
    background-color: #003153;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
    margin-left: 10vh;
}

.footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #F45050;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
   
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: white;
}



.sc-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sc-container img {
    width: 200px;
    margin: 2rem 0;
}

.sc-container h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.sc-container p {
    max-width: 600px;
    font-size: 0.97rem;
    text-align: center;
    margin: 0.5rem 0;
}

.sc-btn {
    padding: 12px 20px;
    border-radius: 2rem;
    background: green;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.whats-app {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 15px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}
